<div class="container mt-5">
    <div class="row">
        <button class="mr-2 btn btn-primary" (click)="sendServerError()">Server Error</button>
        <button class="mr-2 btn btn-primary" (click)="sendBadRequest()">Bad Request</button>
        <button class="mr-2 btn btn-primary" (click)="sendUnauthorized()">Unauthorized</button>
        <button class="mr-2 btn btn-primary" (click)="sendUnauth()">Unauth</button>
        <button class="mr-2 btn btn-primary" (click)="sendValidationError()">Validation Error</button>
        <button class="mr-2 btn btn-primary" (click)="sendNotFound()">Not Found</button>
    </div>
    
</div>